<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style type="text/css">
      ol {
        min-height: 70vh;
        display: grid;
        padding-left: 2em;
      }
      li {
        margin-bottom: auto;
        margin-top: auto;
      }
      body {
        height: 100%;
        padding-bottom: 1em;
      }
      .main {
        padding: 2em;
        margin-bottom: 2em;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .questions-wrapper {
        min-height: 100vh;
        display: flow-root;
        justify-content: space-between;
      }
      .down {
        text-align: center;
        font-size: 32px;
        margin-top: 0.5em;
      }
      .questions-wrapper > .main {
        margin-top: 2em;
      }
      .more {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      @media (max-width: 600px) {
        body {
            padding-bottom: 0;
        }
        .main {
          margin-bottom: 0;
          margin-top: 0;
        }
        .down {
          margin-bottom: 1em;
        }
        .questions-wrapper > .main {
          margin-top: 0;
        }
      }
    </style>
  </head>
  <body class="bg has-background-grey-lighter">
    <div class="questions-wrapper">
      <div class="main card container has-background-white">
        <div>
          <h1 class="title">
            <a href="{{ url }}">
              {{ title }}
            </a>
          </h1>
          <h2 class="subtitle">
            {{ date }}
          </h2>
          <ol>
            {{#each questions}}
              <li>{{ this }}</li>
            {{/each}}
          </ol>
        </div>
        <div class="down">
          <a href="#fasit">▼</a>
        </div>
      </div>
    </div>
    <div id="fasit" class="main card container has-background-white">
      <h1 class="title">
        {{ solution }}
      </h1>
      <h2 class="subtitle">
        {{ date }}
      </h2>
      <ol>
        {{#each answers}}
          <li>{{ this }}</li>
        {{/each}}
      </ol>
    </div>
    <div class="more main card container has-background-white">
      <a href="{{url}}random">
        {{ more }}
      </a>
    </div>
  </body>
</html>
